
<%- include('../../components/home/header.ejs') %>

    <div class="container mt-4">

        <h2>Modelos de Cancha</h2>

        
        <% if(error){ %>
            <p class="text-danger mt-2"><%= error %></p>
        <% } %>

        
        <% if(!error && modelos.length === 0){ %>
            <p class="text-muted mt-2">No hay modelos de cancha registrados todavía</p>
        <% } %>

        
        <a href="/user/admin/modelos/new" class="btn btn-primary mb-3">
            Crear nuevo modelo
        </a>

        
        <% if(!error && modelos.length > 0){ %>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <% modelos.forEach(modelo => { %>
                        <tr>
                            <td><%= modelo.nombre %></td>
                            <td>
                                <a href="/user/admin/modelos/<%= modelo.id %>/edit" 
                                class="btn btn-warning btn-sm">
                                    Editar
                                </a>

                                <form action="/user/admin/modelos/<%= modelo.id %>/delete" 
                                    method="POST" 
                                    style="display:inline;">
                                    <button class="btn btn-danger btn-sm">
                                        Eliminar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
<%- include('../../components/home/footer.ejs') %>
